img
{@ViewBag("ngt")}

<div class="form-group">
    <label for="post">skicka ett inlägg</label>
    <textarea class="form-control" rows="5" id="comment"></textarea>

    <button type="button" class="btn btn-success">Skicka</button>

</div>