@model webapp.Models.IndexExempelAnvändareViewModel

@{

    ViewBag.Title = "Kärleksmums";
}

<div class="jumbotron">
    <h1>Kärleksmums</h1>
    <p class="lead">När du vill ha lite mer mums i livet</p>
</div>

@*När man loggar in så försvinner texten*@

@if (Request.IsAuthenticated)
{

    <div style="display:none">
        <h4>Nyfiken att kontakt med andra mumsiga användare? Vänta inte, registrera dig snabbt och enkelt, redan idag!</h4>
    </div>

}

else
{
    <div>
        <h4>Nyfiken att kontakt med andra mumsiga användare? Vänta inte, registrera dig snabbt och enkelt, redan idag!</h4>
    </div>

}

@* Visar exempelanvändare på startsidan. När man klickar på någon av dessa kommer man antingen till inloggningssidan eller till den profilen *@

@foreach (var användare in Model.Profiles)
{
    <div class="pull-left" style=" margin-right: 20px">
        <p>
            @Html.ActionLink(användare.Namn, "Profil", "Home", new { profileId = användare.Id }, null)
        </p>

        @*Kollar om en profilbild finns, om inte läggs en standard-bild in*@

        @if (!string.IsNullOrEmpty(användare.ProfileImageUrl))
        {
            <img src="@Url.Content(användare.ProfileImageUrl)" class="profile-pic" />
        }
        else
        {
            <img src="~/bilder/noProfilePic.jpg" class="profile-pic" />
        }

    </div>

}
<div class="clearfix"></div>




