@using System.
@model webapp.Models.IndexExempelAnvändareViewModel


@{
    /**/

    ViewBag.Title = "Kärleksmums";
}

<div class="jumbotron">
    <h1>Kärleksmums</h1>
    <p class="lead">När du vill ha lite mer mums i livet</p>
</div>
@*<div> fortsätt
    @if (Request.IsAuthenticated)
    {<h4>Nyfiken att kontakt med andra mumsiga användare? Vänta inte, registrera dig snabbt och enkelt, redan idag!</h4>}
</div>*@

@* Visar exempelanvändare på startsidan. När man klickar på någon av dessa kommer man antingen till inloggningssidan eller till den profilen *@

@foreach (var användare in Model.Profiles)
{
    <p>
        @Html.ActionLink(användare.Namn, "Profil", "Home", new { profileId = användare.Id }, null)
    </p>

    if (!string.IsNullOrEmpty(användare.ProfileImageUrl))
    {
        <img src="@Url.Content(användare.ProfileImageUrl)" class="profile-pic" />
    }
    else
    {
        <img src="~/bilder/noProfilePic.jpg" class="profile-pic" />
    }

    <hr />

}




