@model webapp.Models.ProfileViewModel

<h2>Din profil.</h2>
<hr />

@Html.Partial("ProfilPartial", Model)

<div class="bold">
    Dina vänförfrågningar
</div>


    @foreach (var förfrågan in Model.FriendRequests)
    {
        <div>
            <div class="bold mt10">
                @förfrågan.Avsändare
                <input type="submit" class="btn btn-success" id="acceptera" value="Ja" />
                <input type="submit" class="btn btn-danger" id="neka" value="Nej" />
            </div>


        </div>

    }
