@model webapp.Models.ProfileViewModel

<h2>Din profil.</h2>
<hr />

@Html.Partial("ProfilPartial", Model)

<div class="bold">
    Dina vänförfrågningar
</div>
@foreach (var förfrågan in Model.FriendRequests)
{
    <div>
        <div class="bold">
            @förfrågan.Avsändare
        </div>
    </div>
}