@model webapp.Models.ProfileViewModel

<h2>@Model.Namn profil</h2>
<hr />

@using (Html.BeginForm("SendRequest", "FriendsRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        <input type="submit" id="förfråganKnapp" value="Skicka vänförfrågan" class="btn btn-default pull-right mt10"
        onclick="myFunction()" />
        <div class="clearfix"></div>


    </div> @*$("#förfråganKnapp").val("Förfrågan skickad");*@
}        @*input onclick="this.value = 'förfrågan är skickad'"*@ />


<script>
    function myFunction() {
        document.getElementById("förfråganKnapp").style.color = "red";
    }
</script>

@Html.Partial("~/Views/Home/ProfilPartial.cshtml", Model)









