@model webapp.Models.ProfileViewModel

<h2>@Model.Namn profil</h2>
<hr />

@using (Html.BeginForm("SendRequest", "FriendsRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)

    // texten dyker upp om man försöker lägga till sig själv som kompis
    <div>
        @ViewBag.StatusMessage
    </div>
    //Kollar om förfrågan är skickad eller redan är vänner. Annars syns förfrågan knappen.

    if (Model.ÄrVänner)
    {
        <div>
            Ni är vänner
        </div>
    }



    else if (Model.HarSkickatFörfrågan)
    {
        <div>
            Vänförfrågan skickad
        </div>
    }
    else
    {
        <div class="form-group">
            <input type="submit" value="Skicka vänförfrågan" class="btn btn-default pull-right mt10" />
            <div class="clearfix"></div>
        </div>
    }



}



@Html.Partial("~/Views/Home/ProfilPartial.cshtml", Model)









