@model webapp.Models.ProfileViewModel

<h2>@Model.Namn profil</h2>
<hr />

@using (Html.BeginForm("SendRequest", "FriendsRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        <input type="submit" value="Skicka vänförfrågan" class="btn btn-default pull-right mt10" />
        <div class="clearfix"></div>
    </div>
}

<div class="bold">
    Dina vänförfrågningar
</div>
@foreach (var förfrågan in Model.FriendRequests)
{
    <div>
        <div class="bold">
            @förfrågan.Avsändare
        </div>
    </div>
}
@Html.Partial("~/Views/Home/ProfilPartial.cshtml", Model)









