@{
    ViewBag.Title = "Vänner";
}


    <hr />

    <h3>Sök nya mumsare!</h3>
    <div class="input-group">
        @Html.TextBox("SearchString", null, new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Sök!</button>
    </span>
</div>


