@model webapp.Models.ProfileViewModel

@{
    ViewBag.Title = "Vänner";
}

<div class="dejt-container">
    <h2>Vänner.</h2>
    <hr />

    <h4>Sök nya mumsare!</h4>


    <div class="input-group">
        @Html.TextBox("searchName", null, new { @class = "form-control" })
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">Sök!</button>
        </span>
        <div class="clearfix"></div>
        @if (Model.Namn is null)
        {
            throw new HttpException(404, ("finns ingen mumsare vid det namnet")); }


        else
        {
            foreach (var item in Model.Namn)
            { @item}
        }
    </div>







    <div class="form-group">
        <input type="submit" value="Skicka vänförfrågan" class="btn btn-default pull-right mt10" />
        <div class="clearfix"></div>
    </div>
</div>


