@model webapp.Models.EditProfileViewModel



<div>
    <h4>Ändra dina profilinställningar</h4>
    <hr />

    @using (Html.BeginForm("SaveProfile", "Profile", FormMethod.Post))
    {
        <div class="edit-profile-container">
            <h4> Beskrivning </h4>
            @Html.TextArea("Description", Model.Description, new { @class = "form-control", @cols = "", @rows = 6 })
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-default pull-right mt10" />
                <div class="clearfix"></div>
            </div>
            <p class="text-success">@ViewBag.StatusMessage</p>
        </div>
    }
    <div class="mt10">
        @Html.ActionLink("Change your password", "ChangePassword")
    </div>




</div>
