@{
    ViewBag.Title = "Kärleksmums";
}

<div class="jumbotron">
    <h1>Kärleksmums</h1>
    <p class="lead">När du vill ha lite mer mums i livet</p>
</div>
<h4>Nyfiken att kontakt med andra mumsiga användare? Vänta inte, registrera dig snabbt och enkelt, redan idag! </h4>
<img src="alexandra/love.jpg" alt="kakan" />


@Html.ActionLink("Exempelprofil", "Exprofil", "Profilsida")

<div class="row">

</div>