@model webapp.Models.ProfileViewModel

<h2>Dina vänförfrågningar</h2>
<hr />
@*När man har en vänförfrågan, så hamnar vänförfrågan i denna view.*@
@foreach (var förfrågan in Model.FriendRequests)
{
    @Html.Partial("ProfileImagePartial", förfrågan.AvsändareProfile);

    <div class="mt10">
        @Html.ActionLink("Ja", "AcceptFriendRequest", "FriendsRequest", new { @friendRequestId = förfrågan.Id, }, new { @class = "btn btn-success" })
        @Html.ActionLink("Nej", "DeclineFriendRequest", "FriendsRequest", new { @friendRequestId = förfrågan.Id, }, new { @class = "btn btn-danger" })

    </div>
}
