body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.dejt-container {
    width: 400px;
}

.mt10 {
    margin-top: 10px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.no-profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.profile-container {
    margin-right: 20px;
    text-align: center;
}
.profile-container-inner {
    display: inline-block;
    text-align: center;
}


.profile-name {
    font-size: 15px;
    margin-top: 8px;
}

.bold {
    font-weight: bold;
}
